@charset "utf-8";

/* CSS Document */

main>article {
    padding-top: 0;
}

/*====================================================================================================
 topページ
====================================================================================================*/

body>header {
    color: #fff;
    background-color: transparent;
    transition: 0.6s all;
}
#gNav a {
    color: #fff;
    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.9);
    font-weight: 400;
}
body>header.header_scroll {
    background-color: rgba(255, 255, 255, 0.9) !important;
}
body>header.header_scroll #gNav a {
    color: #48483f;
    text-shadow: none;
}
@media screen and (max-width: 768px) {
    .ttl_article h2 {
        font-size: 18px;
    }
    .ttl_article h2 span {
        font-size: 11px;
    }
    [class*="article_list"] {
        padding: 50px 0 50px;
    }
    [class*="article_list"] .box_inlineCenter {
        margin-top: 3px;
    }
    .btn[class*="icon_skewArrow"]:after {
        right: 10px;
    }
    [class*="article_list"]:last-child {
        padding-bottom: 65px;
    }
    #gNav a {
        text-shadow: none;
    }
}
@media screen and (max-width: 320px) {
    .ttl_article h2 {
        font-size: 16px;
    }
    .ttl_article h2 span {
        font-size: 10px;
    }
}

/*==================================================
article_intro
==================================================*/

.article_intro {
    padding: 50px 0;
    background: #333;
}
.article_intro .box_img {
    height: 400px;
}
.article_intro .box_img img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

/*=========================
section_slider
=========================*/

.section_slider {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}
#slider1_container_pc,
.slideContents,
.slideContents>div {
    max-width: 1060px;
}
#slider1_container_pc {
    width: 1060px;
    left: 440px;
    overflow: hidden;
    position: relative;
}
.slideContents>div {
    position: absolute;
    overflow: hidden;
    transition: ease-out 1.0s;
    left: 0;
}
.slideContents>div:not(.active) {
    opacity: 0;
}
.slideContents>div.left {
    left: 50px;
}
.slideContents>div img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    min-height: 715px;
    width: auto;
    max-width: none;
}
.bullet {
    position: absolute;
    right: 20px;
    bottom: 15px;
    display: -webkit-flex;
    display: flex;
}
.bullet .i {
    position: relative;
}
.bullet .i:after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aaa;
    ;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: .5s all ease;
}
.bullet .i:hover:after,
.bullet .i.iav:after {
    background-color: #fff;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .JssorSliderParent {
        width: 100%;
        /* positionをrelativeにしないとSPで崩れる */
        position: relative;
    }
}
@media screen and (max-width: 768px) {
    .section_slider {
        height: auto;
        margin: 110px auto 38px;
    }
    .section_slider .slider {
        width: 100%;
    }
}
@media screen and (max-width:320px) {
    .section_slider {
        margin: 120px auto 38px;
    }
}

/*=========================
section_about
=========================*/

.section_about>div {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.section_about>div:first-child {
    margin-bottom: 30px;
}
.section_about h2 {
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: 0.075em;
}
.section_about h2+p {
    width: 715px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.025em;
}
.section_about .box_inlineCenter .btn {
    width: 100%;
    padding: 36px 0;
}
@media screen and (max-width: 768px) {
    .section_about>div {
        display: block;
    }
    .section_about h2 {
        font-size: 24px;
        line-height: 1.23;
        margin-bottom: 17px;
    }
    .section_about h2+p {
        width: 100%;
        font-size: 14px;
        line-height: 1.75;
    }
    .section_about .box_inlineCenter .btn {
        padding: 18px 0;
    }
}
@media screen and (max-width: 320px) {
    .section_about h2 {
        font-size: 21px;
    }
    .section_about h2+p {
        font-size: 12px;
    }
}

/*==================================================
listcard
==================================================*/

[class*="listcard"] {
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
}

/*==================================================
article_listInterview
==================================================*/

.article_listInterview {
    padding: 80px 0;
}
.article_listInterview .ttl_article h2 span {
    white-space: nowrap;
}
.article_listInterview .btn {
    background-color: #fff;
}
.listcard_interview {
    margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
    .article_listInterview {
        padding: 50px 0;
    }
}

/*==================================================
article_service
==================================================*/

.article_service {
    padding: 40px 0 80px;
}
.article_service .block>div {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.article_service .ttl_article {
    margin-bottom: 35px;
}
.article_service section {
    position: relative;
    width: 48.5%;
}
.article_service section:nth-child(-n+2) {
    margin-bottom: 30px;
}
.article_service h3 {
    margin-bottom: 15px;
    color: #707070;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-align: left;
}
.article_service h3 span {
    position: relative;
    left: 15px;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.075em;
}
.article_service p {
    margin-bottom: 21px;
    font-size: 14px;
    letter-spacing: 0.025;
    line-height: 1.85;
}
.article_service ul {
    margin-bottom: 38px;
    color: #707070;
    font-size: 12px;
    line-height: 1.66;
}
.article_service .btn {
    width: 100%;
    font-size: 15px;
    padding: 22px 0;
}
@media screen and (max-width: 768px) {
    .article_service {
        padding: 0px 0 40px;
    }
    .article_service .block>div {
        display: block;
    }
    .article_service section {
        width: 100%;
    }
    .article_service h3 {
        margin-bottom: 14px;
        font-size: 14px;
    }
    .article_service h3 span {
        font-size: 9px;
        left: 10px;
    }
    .article_service p {
        margin-bottom: 10px;
        font-size: 11px;
        line-height: 1.54;
    }
    .article_service ul {
        margin-bottom: 14px;
        font-size: 10px;
        line-height: 1.85;
    }
    .article_service .btn {
        font-size: 12px;
        padding: 14px 0;
    }
    .article_service section:not(:last-child) {
        margin-bottom: 30px;
    }
}

/*==================================================
 SP
==================================================*/

@media screen and (max-width: 1023px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 320px) {}